table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.form-item {
    min-width: 150px;
    max-width: 250px;
    margin-right: 5px;
    float: left;
}

.add-button {
    float: right;
    margin-top: 20px;
}

.upper-list h2 {
    float: left;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
}

.form-content {
    margin-bottom: 10px;
}